[submodule "modules/trimmod"]
	path = modules/trimmod
	url = https://github.com/se2a-gla/trimmod
[submodule "modules/se2a-fdm-data"]
	path = modules/se2a-fdm-data
	url = https://github.com/se2a-gla/se2a-fdm-data
[submodule "modules/ladac"]
	path = modules/ladac
	url = ../ladac
	branch = feature/se2a-crm-integration
[submodule "modules/mtigl"]
	path = modules/mtigl
	url = https://github.com/dcava4897/mtigl.git
